
@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-Bold.ttf);
} 
@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
} 
@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
} 
.container{ 
    width: 1000px; 

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} 
.dropdown-content a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #9792A1;
}
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 999;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

header{ 

    display: flex;
   text-align: center; 
   justify-content: center; 
   align-items: flex-end;  
   /* background-color: #FF707A; */
}
.header-text h1{ 
 font-family: PoppinsBold;
 font-size: 60px;
 color: #190E2F;
} 
.header-text p{ 
    color: #190E2F; 
    font-size: 21px;
    font-family:  PoppinsMedium;
}
.btnP{ 
    color: #524A63 !important; 
    font-size: 14px !important;
    font-family:  PoppinsRegular !important;
}
.btn{ 
    background-color: #FF707A;
}

.swiper {
  width: 70%;
  height: 80%; 
/* border: 1px solid #000; */
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; 

}

.swiper-slide img {
  display: block;
  width: fit-content;
  height: fit-content;
  object-fit: cover; 
  background-size: cover;
}

.smallboxes{ 
 display: flex ;
    height: 500px;
align-items: center; 

  text-align: center; 
  /* background-color: #524A63; */


}

.buttonBox{ 
margin-top: 40px ;
width: 200px;

}
#navbarNavDropdown > ul > li.dropdown > a:before {
  content: url(./img/up.svg);
  position: absolute;
  right: 4px;
  top: -2px;
}
.boxes{   
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.smallboxes .box{  
    display: inline;
    width: 320px !important; 
    height: 140px; 
    /* border: 1px solid black; */ 
     border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
/* .insider{ 
    display: flex; 
    justify-content: center;
    align-items: center;
} */

/* .boxes .box1{ 

    border-top:8px solid #FF707A;
}
 .boxes .box2{ 
    border-top:8px solid #F5B118;
 } 
 .boxes .box3{ 
    border-top:8px solid #00AEDC;
 } */


 /* .smallboxes{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 60px;
} */

/* 
@media only screen and (max-width: 991px){
.box_gap { 
    margin-bottom: 15px;
}} */

.redBox {
height: 100%;
  border-top: 5px solid #ff707a;
  background: #fff;
  box-shadow: 0 4px 40px -2px rgb(0 0 0 / 8%);
  border-radius: 12px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
}
.redBox-title {
  color: #ff707a;
  font-size: 35px !important;
  font-style: normal;
  font-weight: 700;
  padding-top: 6px;
  padding-right: 20px;
  padding-left: 25px;
}
/* .minute-container-box-1-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  padding-top: 14px;
  padding-right: 30px;
  color: #433a4a;
} */
.orangeBox {
  height: 100%;
  border-top: 5px solid #f5b118;
  background: #fff;
  box-shadow: 0 4px 40px -2px rgb(0 0 0 / 8%);
  border-radius: 12px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
}
.orangeBox-title {
  color: #f5b118;
  font-size: 35px !important;
  font-style: normal;
  font-weight: 700;
  padding-top: 6px;
  padding-right: 20px;
  padding-left: 25px;
}
/* .minute-container-box-2-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  padding-top: 14px;
  padding-right: 30px;
  color: #433a4a;
} */

.blueBox {
  height: 100%;
  border-top: 5px solid #00aedc;
  background: #fff;
  box-shadow: 0 4px 40px -2px rgb(0 0 0 / 8%);
  border-radius: 12px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
}
.blueBox-title {
  color: #00aedc;
  font-size: 35px !important;
  font-style: normal;
  font-weight: 700;
  padding-top: 6px;
  padding-right: 20px;
  padding-left: 25px;
}
/* .minute-container-box-3-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  padding-top: 14px;
  padding-right: 30px;
  color: #433a4a;
} */

/*
big section ...............

*/
.Features {
  background-color: #f9f9f9;
  padding-bottom: 87px;
} 
.features-title {
  color: #190E2F;
  font-size: 36px !important;
  font-family: PoppinsBold;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 64px;
}


.feature-box{ 

  height: 336px;
/* width: 353px; */
  padding: 20px 20px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
} 

 .Features .grid-container  { 


    display: grid;
    column-gap: 50px;
    row-gap: 20px;
  
  
} 
.feature-box-title{ 
  color: #190E2F;
  font-family: PoppinsSemiBold;
  font-size: 20px;
}
.feature-box-txt { 
  color: #190E2F;
  font-family: PoppinsRegular;
  font-size: 16px;
}
.feature-box-more{ 
  color: #00AEDC;
  font-family:PoppinsSemiBold;
  font-size: 16px;
}



.WhoIsItFor{ 
margin-top: 150px;
}
.photoSec img{
  width: 400px;
  height: 250px;
}
.WhoisitForText h1{ 
  
    font-family:PoppinsBold;
    color: #190E2F;
    font-size: 36px !important;
    line-height: 1.2; 
}


.WhoisitForText p{ 
 
    font-family: PoppinsRegular;
    font-size: 16px !important;
    color: #190E2F;
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 25.81px;

}
.WhoisitForText a{
  color: #FF707A;
  font-family:PoppinsBold;
  font-size: 20px;
}
.Benefits{ 
  margin-top: 100px;
}
.arrowPic{ 
  opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}
.arrowPic img {
  vertical-align: middle;
  border-style: none;
}
.benefits-ListBox{
  margin-top: 20px;
    display: flex;
}
.benefitsImg{
  margin-top: -30px;
  /* margin-bottom: 100px; */
}
.benefitsImg img {
  width: 100%;
}

.BenefitsText h1{ 
  font-family:PoppinsBold;
  color: #190E2F;
  font-size: 30px;
  margin-bottom: 50px;
}

.benefitsTxt p{ 
  font-family: PoppinsMedium;
  font-size: 20px;
  color: #000000;
  
}


/*Second Swiper*/

.services{ 
  margin-top: 100px;
  
}


.services-txt h1{ 

    color: #190e2f;
    font-size: 36px;
    font-family: popins-bold;
    padding-bottom: 24px;
    text-align: center;
}
.services .row{ 
  display: flex !important;
align-items: center !important;
justify-content: center !important;

}
.services-txt p,h6{ 

    text-align: center;
    color: #190e2f;
    font-family: popins-med;
    display: block;

}
.services-card ul,li{
  text-decoration: none; 
  list-style: none;
  
}
.card.services-card h3{ 

    color: #f77881 !important;
    font-size: 28px !important;
    font-family: PoppinsBold !important;

}
.card.services-card li{ 
  
    margin-top: 20px;
    font-family: popins-regular;
    color: rgba(25, 14, 47, .8);
}

.btn-box {
  border-radius: 4px;
  background-color: #ff707a;
  padding: 14px 27.6px 15px 26.4px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #fff ;
  font-size: 18px !important;
  font-family: PoppinsSemibold;
  margin-top: 26px !important;
  margin-bottom: 12px !important;
}

.card.services-card{ 
width: 414px !important;
height: 340px !important;
display: flex !important;
align-items: center !important;
justify-content: space-around !important;
background-color: #FFFFFF !important;
background-color: #fff;
    border-radius: 8px;
    padding: 25px;
    margin-top: 36px;
    margin-bottom: 72px;
    box-shadow: 0 4px 56px rgb(0 0 0 / 6%);
    outline: none !important;
    border: none !important;
  cursor: pointer;
  }
  /* .card.services-card:hover{ 
    width: 434px !important;
height: 360px !important; 
transition: 0.2s;
  } */


  footer{ 
    /* height: 80vh; */
    background-color:  #474F5A !important;
  }
  .biemoji{ 
    color: white !important;
    background-color: white;
  }

  .emojis{ 
    z-index: 9999;
    color: #f9f9f9;
  }

  .footer-social span { 
    color: white;

  padding: 7px 10px;
    font-size: 16px;
    border-radius: 50%;
     border: 1px solid white;

    justify-content: space-between; 
    margin-left: 10px;

    
  }
  .footer-social{ 
    margin-top: 50px !important;
  }
  

  .footer-text{ 
    flex-direction: column;
    margin-top: 4px;
  }
  .footer-description p{  
   
      margin-top: 16px;
      color: #DBE3E6;
      font-family: PoppinsMedium;
      font-size: 12px !important;
  
  }
  .footer-text li{ 

      color: #DBE3E6;
      font-family: PoppinsRegular;
      font-size: 12px !important;

  
  }
  footer .CopyrightText{ 
    color: #DBE3E6;
    font-family: PoppinsRegular;
    font-size: 12px !important;


  }

  .devider{ 
       display: flex ;
    align-items: center;
    justify-content: center;
  }
  .solid{ 
    border-top: 2px solid #bbb;
    width: 50rem; 
 
  }

  /* .footer-social {
    padding-top: 5px;
}
.footer-social span {
  padding-right: 10px;
}*/
.footer-list {
  text-align: start;
margin-left: -30px;
color: white;
line-height: 2; 
}   


.footer-title h6 {
  color: #DBE3E6;
  font-size: 14px !important;
  font-family: PoppinsBold;

  text-align: start;
} 

/* .footer-list {
  margin-left: -40px;
}

.footer-list ul li {
  margin-top: 8px;
} */
/* 
footer .container{

    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
}
   */

   footer .eachbox{ 
    
    row-gap: 10px !important;
   margin-top: 60px;
  margin-bottom: 40px;
  width: 230px;
  height: 300px;
  box-sizing: border-box;
column-gap: 20px !important;
   }

   .eachbox3{ 
    width:170px !important ;
   }